body > header {
    display: grid;
    background-color: cornflowerblue;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 12px;

}

header > nav > li > a > {  
    color: white;
}

body > header > h1 {
    color: white;
}

body {
    color:cornflowerblue;
}

body > footer {
    background-color: cornflowerblue;
}