header {
    display:grid;
    background-color: cornflowerblue;
    color: white;
    align-items: center;

}

header > h1 {
    font-family: 
    color: white;
}

body > footer {
    background-color: cornflowerblue;
}