<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    

    <title>CodeClan RockPaperScissors</title>
</head>
<b>
    <header>

        <h1>CodeClan Rock Paper Scissors Showdown!</h1>
        
        <nav>
            <li>
                <a href="/rules">Rules</a>
            </li>
        </nav>

    </header>
    <form action="/result" methods = "POST"></form>
    
    <li><label for="name1">Name</label>
        <input type="text" name = "name1" id = "name1">
    </li>
    
    <li><label for="choice1">Make your choice</label>
        <select name="choice1" id="choice1">
            
            <option disabled = "disabled" selected = "selected" value = > Please select your choice</option>
            <option value="Rock"> Rock</option>
            <option value="Paper"> Paper</option>
            <option value="Scissors"> Scissors</option>


        </select>
    </li>

    <li><label for="name2"> Name </label>
        <input type="text" name = "name2" id = "name2">
     </li>

    <li><label for="choice2">Make your choice</label>
        <select name="  choice2" id="choice2">

            <option disabled= "disabled" selected = "selected" value = > Please select your choice</option>
            <option value="Rock"> Rock</option>
            <option value="Paper"> Paper</option>
            <option value="Scissors"> Scissors</option>

        </select>
    <br>
        <button type = "submit"> Lets play! </button>
    </li> 

    {{ result }} <br>
    {{ choice1 }} <br>
    {{ choice2 }}

</body>

<footer> &#169 CodeClan Rock Paper Scissors</footer>

</html>