<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CodeClan RockPaperScissor Rules</title>
</head>
<body>
    <header>
        <h1>
            CodeClan Rock Paper Scissor Rules!
        </h1>

    </header>

    <h2>Rock Paper Scissors Ground Rules</h2>
    </ul>
        <li>Rock beats Scissors</li>
        <li>Paper beats Rock</li>
        <li>Scissors beats Paper</li>
        <li>We don't have nuclear bombs because we're not scamps</li>
    
    <h2>Order of play</h2>
        
    <ul>
        <li>First player enters their name and choice</li>
        <li>Second player enters their name and choice</li>
    </ul>
</body>
</html>